.home-page-product{
    padding: 20px 10px;
    font-size: 1em;
 }
 .home-page-product .shopping-cart{
     text-align: center;
     margin: 15px 5px;
     border-radius: 5px;
     cursor: pointer;
     box-shadow: 0px 2px 8px 0px rgba(0 , 0, 0, 0.5);
 }
 .home-page-product .shopping-cart:hover{
     margin: 15px 0;
 }
 .shopping-cart .img-sec2{
     position: relative;
 }
 .shopping-cart .img-sec2 img{
    width: 65%;
    height: 155px;
 }
 .shopping-cart .img-sec2 .hot-offer{
    background-color:#e74c3c ;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.8em;
 }
 .shopping-cart .img-sec2 .stars{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #f1c40f;
    font-size: 0.7em;
 }
 .shopping-cart .title-shopping-cart{
     color: #333;
     margin: 10px;
     font-size: 0.9em;
     height: 25px;
     overflow: hidden;
 }
 .shopping-cart .buttons-shopping-cart{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px 15px;
 }
 .left-shopping-cart{
     display: flex;
 }
 .right-shopping-cart .price{
    color:#666 ;
    font-weight: bold;
    font-size: 0.7em;
 }
 .left-shopping-cart .extend-btn{
    display: flex;
    align-items: center;
    background-color:#8bc34a ;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
    width: 83px;
    transition: 0.75s;
    margin-left: 10px;
    justify-content: center;
 } 
 .left-shopping-cart .extend-icon{
     background-color:#8bc34a ;
     border-radius: 3px;
     width: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .left-shopping-cart .extend-btn a{
    color: white;
    font-size: 0.8em;
 }
 .left-shopping-cart .extend-icon i{
     color: #000;
 }

 .shopping-cart .img-sec2 .offer-per{
    background-color:#e74c3c ;
    color: white;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    bottom: -10px;
    font-size: 0.8em;
 }

 /* style for paginate */

 .paginationBttns {
    width: 70%;
    height: 50px;
    margin: auto;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    background: #1a1a1a;
    border-radius: 10px;
 }

 .paginationBttns a{
    padding: 6px 15px;
    margin: 8px;
    border-radius: 5px;
    color: #8bc34a;
    cursor: pointer;
    color: white;
    background: #202020;
 }
 .paginationBttns a:hover {
    color: white;
    background: #5a5a5a
 }
 .paginationActive a{
    color: white;
    background: #5a5a5a
 }