.navbar-home-page{
    margin:0px 10px;
    display: flex;
    align-items: flex-start;
    background: #2196F3;
    border-radius: 5px;
    padding: 10px 0;
}
.navbar-home-page a{
    color: white;
    padding: 10px;
}
.navbar-home-page a:hover{
    color: white;
    background: #1770b7;
}
.navbar-home-page ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}
.navbar-home-page ul li ul li {
    display: none;
}
.navbar-home-page ul li:hover li {
    display: block;
    background: white;
    height: 40px;
}
.navbar-home-page ul li ul li a{
    color: #2196F3;
    padding: 5px 15px;
    display: block;
    margin: 5px;
    border-radius: 3px;
}
.navbar-home-page ul li {
    position: relative;
}
.navbar-home-page ul li ul{
    position: absolute;
    z-index: 20;
    background: white;
    width: 145px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 10px 0px;
    width: 145px;
}