nav.user-navbar-area{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 10px; */
}
nav .nav-right{
    display: flex;
    align-items: center;
}
.number-shopping-icon span{
    background: #e74c3c;
    font-size: 0.65em;
    padding: 1px 2px 0px 2px;
    color: white;
    border-radius: 40%;
}
nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1.1em;
}
nav .nav-right a:hover{
    color:#2196F3;
}
.nav-left:hover .register-login-btn i{
    color: white;
}
.nav-left:hover .register-login-btn a{
    color: white;
}
nav .nav-left .register-login-btn{
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav-left .register-login-btn a{
    color: #444;
    margin: 0 10px;
    font-size: 0.9em;
}
nav .nav-left .register-login-btn:hover {
    background: #2196F3;
    border:none;
}
nav .nav-left .register-login-btn i{
    margin: 7px;
    color: #444;
    font-size: 1.1em;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left .switch {
    margin-left: 20px;
}

/* theme change style */

  #dark {
    background-color: #292929
  }
  #dark nav .nav-right a{
    color: white;
  }
  #dark nav .nav-left .register-login-btn i{
    color: white;
  }
  #dark nav .nav-left .register-login-btn a{
    color: white;
  }
  #dark .home-page-product .shopping-cart{
    background-color: #ffffff;
  }
 #dark nav .nav-right a:hover {
    color: #2196F3!important;
}
#dark .navbar-home-page ul li ul li a{
    color: white;
}
#dark .navbar-home-page ul li:hover li{
    background-color: #292929;
}
#dark .navbar-home-page ul li ul{
    background-color: #292929;
}