@font-face {
  font-family: iran;
  src: url(./Fonts/ttf/IRANSansWeb.ttf);
}

*{
  direction: rtl;
  font-family: iran;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0px;
  padding: 0;
}

a{
  text-decoration: none;
}


#light {
  background-color: white;
}
#dark {
  background-color: #292929
}
.MuiPaper-root {
  width: 38%;
  background-color: rgb(232, 232, 232) !important;
}